header, hgroup, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}
body {/*sets the gradient background of the whole page and sets the text color*/
    background-image: url(images/ptrbackground.jpg);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    
}

#wrapper{/*turns the main box background color to light blue so that it can pretend to be the nav bar
	also creates a margin for the box*/
    background-color: #8dc6e4;
    width: 80%;
    min-width: 600px;
	margin: 0 auto;	
    
}
header{/*makes the title white and adds the sunset image at the topright*/
    color: white;
    background-color: #030134;
    background-image: url(images/sunset.jpg) ;
    background-size:initial;    
    background-position: right;
    background-repeat: no-repeat;
    
}



#content {/*hides the blue behind a white background*/
	margin-left: 200px;
	padding: 1rem 2rem;
	background-color: white;
}

#content img{/*floats the image so that text wraps along the side*/
	float: left;
	margin-right: 1.5rem;
}


#content ul {/*sets the bullets to the image marker*/
	list-style: inside url(images/marker.gif);
}



nav{/*sets the nav bar to the left*/
	width: 200px;
	float: left;
}

.resort{/*styles the article title*/
	color: #3399CC;
	font-weight: bold;
}

nav ul {/*menu styling*/
    
    font-size: 1.2em;  
    background-color: #8dc6e4;
    text-decoration: none;
	margin-top: 0%;
	margin-bottom: 0%;
	padding: 0 1.5rem;
	list-style:none;
}

nav ul li a{/*link styling*/
	text-decoration: none;
	font-weight: bold;
	color: #030134;
}

a{
    color:black;
}

nav a:hover {
    color: #FFFFFF;
}
h1 {
    margin-bottom: 0;
    padding: 10px;
}
h2 {
    color: #3399CC;
}
h1,
h2 {
    font-family: Georgia, "Times New Roman", serif;
}
#contact {
    font-size: 90%;
}
dt {
    color: #000033;
}
footer {/*makes the footer fir with the rest of the website*/
    font-family: Georgia, "Times New Roman", serif;
    margin-left: 200px;
	padding: 1rem 2rem;
	background-color: white;
}

footer a{/*makes the email look more like a typical link*/
	color: blue;
	font-style: italic;
}